{% extends 'base.html' %}

{% block title %}Lista de Empleados{% endblock %}

{% block content %}
<h1>Lista de Empleados</h1>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Rol</th>
        </tr>
    </thead>
    <tbody>
        {% for empleado in empleados %}
        <tr>
            <td>{{ empleado.nombre }}</td>
            <td>{{ empleado.email }}</td>
            <td>{{ empleado.telefono }}</td>
            <td>{{ empleado.rol }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
