{% extends 'base.html' %}

{% block title %}Lista de Empleados{% endblock %}

{% block content %}
<h1>Lista de Empleados</h1>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Rol</th>
            <th>Puesto</th>
        </tr>
    </thead>
    <tbody>
        {% for empleado in empleados %}
        <tr>
            <td>{{ empleado.usuario.first_name }} {{ empleado.usuario.last_name }}</td>
            <td>{{ empleado.usuario.email }}</td>
            <td>{{ empleado.usuario.telefono }}</td>
            <td>{{ empleado.usuario.get_rol_display }}</td>
            <td>{{ empleado.puesto }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
