{% extends 'base.html' %}

{% block title %}Lista de Clientes{% endblock %}

{% block content %}
<h1>Lista de Clientes</h1>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Dirección</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.usuario.first_name }} {{ cliente.usuario.last_name }}</td>
            <td>{{ cliente.usuario.email }}</td>
            <td>{{ cliente.usuario.telefono }}</td>
            <td>{{ cliente.direccion }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
