{% extends 'base.html' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<h1>Iniciar Sesión</h1>
<form method="post">
    {% csrf_token %}
    <div>
        <label for="username">Usuario:</label>
        <input type="text" name="username" id="username" required>
    </div>
    <div>
        <label for="password">Contraseña:</label>
        <input type="password" name="password" id="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
</form>
{% if form.errors %}
<div class="alert alert-danger">
    <p>Credenciales incorrectas. Inténtalo de nuevo.</p>
</div>
{% endif %}
{% endblock %}
