{% extends 'base.html' %}
{% load custom_filters %}

{% block title %}Detalle del Pedido{% endblock %}

{% block content %}
<h1>Detalle del Pedido</h1>
<p><strong>ID:</strong> {{ pedido.id }}</p>
<p><strong>Cliente:</strong> {{ pedido.cliente.usuario.first_name }} {{ pedido.cliente.usuario.last_name }}</p>
<p><strong>Sucursal Origen:</strong> {{ pedido.sucursal_origen.nombre }}</p>
<p><strong>Sucursal Destino:</strong> {{ pedido.sucursal_destino.nombre }}</p>
<p><strong>Estado:</strong>
    <span class="badge
        {% if pedido.estado == 'PENDIENTE' %}bg-warning
        {% elif pedido.estado == 'EN_TRANSITO' %}bg-info
        {% elif pedido.estado == 'ENTREGADO' %}bg-success
        {% elif pedido.estado == 'CANCELADO' %}bg-danger
        {% else %}bg-secondary{% endif %}">
        {{ pedido.estado }}
    </span>
</p>


<p><strong>Opción de Entrega:</strong>
    {% if pedido.opcion_entrega == "RETIRO_SUCURSAL" %}
        Retiro en Sucursal
    {% elif pedido.opcion_entrega == "ENVIO_DESTINO" %}
        Envío a Sucursal de Destino
    {% endif %}
</p>

<h2>Productos</h2>
<table class="table">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for producto_pedido in pedido.pedidoproducto_set.all %}
        <tr>
            <td>{{ producto_pedido.producto.nombre }}</td>
            <td>{{ producto_pedido.cantidad }}</td>
            <td>${{ producto_pedido.producto.precio }}</td>
            <td>${{ producto_pedido.cantidad|multiply:producto_pedido.producto.precio }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th colspan="3">Total</th>
            <th>${{ pedido.calcular_total }}</th>
        </tr>
    </tfoot>
</table>


{% if pedido.estado == "PENDIENTE" %}
<form action="{% url 'confirmar_pedido' pedido.id %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-success">Confirmar Pedido</button>
</form>
{% else %}
<p class="text-muted">Este pedido ya ha sido confirmado.</p>
{% endif %}
{% endblock %}
